a{
    color: darkgreen;
    font-size: small;
    margin: 5px;
}

section{
    background-color: rgb(241, 241, 128);
}

article{
background-color: chartreuse;
margin: 5%;

}
.inicio{
    background-color: chocolate;
    width: 100vw;
    height: 100vh;
    text-align: center;

}
.inicio h1{
    text-decoration:underline;
    
}



.container__box{
    background-color: rgba(161, 83, 27, 0.644);
    width: 80vw;
    height: 80vh;
    text-align: center;
    padding: 5%;
}