a {
    color: black;
    margin: 5px;
    padding: 5px;
}

body header nav a {

    background-color: blanchedalmond;
    padding: 5px;
    border-radius: 50px;
    box-shadow: 2px 2px 5px;
}

.title-not{
    text-align: center;
}

.header-not{
    grid-area: header-not;

}
.main-not{
    grid-area: main-not;
}

section {
    background-image: radial-gradient(ellipse at top orange, yellow);
}

article {
    background-image: linear-gradient(to bottom, orange, tomato);
    margin: 5%;

}

/*estilo playlist*/
.music h3 {
    background-color: (brown);
}

body {
    background-image: url(../assets/img/día.jpg);
    background-attachment: fixed;
}

.tablero {
    column-gap: 5px;
}

.tablero a {
    text-decoration: none;

}


.inicio {
    background-image: url(../assets/img/moment.jpg);
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-repeat: no-repeat;
}

.inicio h1 {
    text-decoration: underline;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;

}

.inicio h2 {
    text-align: center;
}

.event {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}


.container__box img {
    width: 50vw;
}

.container__box {
    margin: 1rem;
    display: inline-block;
    width: 80vw;
    text-align: center;
    column-gap: 5px;
}
/* agregando Grid al html Noticias */
.container-not{
    display: grid;
    grid-template-areas: "header-not header-not header-not header-not"
    "main-not main-not main-not main-not" "footer-not footer-not footer-not footer-not"
}

.footer-flex {
    /* width: 500px; */
    flex-direction: column;
    margin-top: 10px;
    background: #999;
    opacity: 0.8;
    text-align: center;
    font-size: medium;
}

.p_footer {
    font-size: large;
}

.footer-not{
    grid-area: footer-not;
    background-color: orange;
}

/* estilo animación*/
.fade-in-image {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.rainbow-button {
    width: calc(10vw + 2px);
    height: calc(2vw + 2px);
    text-decoration: none;
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;

}

.rainbow-button:after {
    content: attr(alt);
    width: 10vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rainbow-button:hover {
    animation: slidebg 3s linear infinite;
}

@keyframes slidebg {
    to {
        background-position: 30vw;
    }
}



