
@import "utilidades/variables";
@import "utilidades/listas";
body{
    background-image: $fondo-principal;
    background-attachment: $posicion-fija;
}
/* Gira Argentina */
.padre1{
    display: grid;
    grid-template-rows: 0.5fr 2fr 1fr 0.5fr;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-areas: 
        "header header header header"
        "main main main main"
        "footer footer footer footer";

    /* estilos del header */    
    header{
        grid-area: header;
        display: flex;
        align-items: center;
        justify-content: center;
        nav{
            .tablero{
                display: flex;
                list-style: none;
            }
        }
    }
}
/*estilos del main */
    main{
    grid-area: main;
    display: grid;
    grid-template-areas: 
        "h1 h1 h2 h2"
        "img img fade-in-image fade-in-image "
        "h3 h3 h3 h3";
    justify-content: end;
    justify-items: center;
    align-items: center;
    h1{
        grid-area: h1;
        align-self: end;
        font-size: 4rem;
        text-align: center;
    }
    h2{
        grid-area: h2;
        align-items: end;
        font-size: 2rem;
        display: block;
        text-align: center;
        }
    h3{
        grid-area: h3;
        font-size: 2rem;
        margin-top: 10px;
        background: rgb(134, 133, 133);
        opacity: 0.8;
        display: block;
        text-align: center;
    }
    .container__box{
        grid-area: img;
        img{
            width: 70%;
        }
        .fade-in-image{
            text-align: center;
            animation: fadeIn 5s;
            -webkit-animation: fadeIn 5s;
            -moz-animation: fadeIn 5s;
            -o-animation: fadeIn 5s;
            -ms-animation: fadeIn 5s;
        }
    }
}
/*estilos del footer */
.footer-flex{
    grid-area: footer;
    flex-direction: column;
    margin-top: 10px;
    background: #999;
    opacity: 0.8;
    text-align: center;
    font-size: medium;
}

/* Imagenes */
.padre2{
    display: grid;
    grid-template-rows: 0.5fr;
    grid-template-columns: repeat(2, 1fr, 1fr, 1fr) ;
    grid-template-areas:
    "header header"
    "main main main"
    "footer footer footer footer";
    /*estilos del header*/
    header{
        grid-area: header;
        display: block;
        top: 7rem;
        bottom: 5;
        color: nth($colores, 1) ;
        width: 100%;
        left: 1rem;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at static );
        a{
            grid-area: a;
            text-decoration: none;

        }
        }
    }
.container-not{
    display: grid;
    grid-template-rows: 0.5fr;
    grid-template-columns: repeat(0.5fr 2fr 1fr 0.5fr);
    grid-template-areas:
    "header header"
    "main main"
    "footer footer footer";
}   
.title-not{
    h1{
        grid-area: h1;
        text-align: center;
    }
}
