/* Imagenes */
.padre2{
    display: grid;
    grid-template-rows: 0.5fr;
    grid-template-columns: repeat() ;
    grid-template-areas:
    "header header header header"
    "main main main main"
    "footer footer footer footer";
    /*estilos del header*/
    header{
        grid-area: header;
        display: block;
        top: 7rem;
        bottom: 5;
        width: 100%;
        left: 1rem;
        display: flex;
        flex-direction: column;
        align-items:center;
        clip-path: circle(0 at static );
        a{
            grid-area: a;
            text-decoration: none;
        }
        }
    }