/* Noticias*/
.container-not{
    display: grid;
    grid-template-rows: (0.1fr 1fr 1fr 0.1fr );
    grid-template-columns: repeat(2, 1fr, 1fr, 1fr);
    grid-template-areas:
        "header header header header"
        "main-not main-not main main"
        "footer footer footer footer";
    .container-not{        
        header{
            grid-area: header;
            display: flex;
            align-items: center;
            justify-content: center;
            nav{
                ul{
                    display: flex;
                    list-style: none;
                    li{
                        list-style: none;
                        margin: 0.5rem;
                        font-weight: bold;
                        font-size: 1.2rem;
                        a{
                            color:($colores 2);
                        }
                    }
                }
            }
        }
    .title-not{
        grid-area: title-not;
        h1{
            grid-area: h1;
            text-align: center;
        }
}
.main-not{
    grid-area: main-not;
    display: flex;
    column-gap: 1rem;
    justify-content: center;
    h2{
        grid-area: h2;
                align-self: end;
                font-size: 3rem;
                text-align: center;
    }
    section{
        background-color: ($colores, 2);
        padding: 1.3rem;
        width: 300px;
        box-shadow: 1px 1px rgb(198, 198, 198);
        article{
            h3{
                grid-area: h3;
                text-align: center;
            }
        }
    }    
}
}
.footer-not{
    grid-area: footer;
    flex-direction: column;
    margin-top: 5fr;
    background: #999;
    opacity: 0.8;
    text-align: center;
    font-size: medium;
    h6{
        flex-direction: column;
        text-align: center;
    }
}
}