$fondo-principal: url(../assets/img/día.jpg);
$posicion-fija: fixed;
$redColor: rgba(244, 67, 54, 1);
$blueColor: rgba(33, 150, 243, 1);
body{
    background-color: beige;
    // background-image: $fondo-principal;
    background-attachment: $posicion-fija;

}