/* Gira Argentina */
.inincio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: auto;
    @media scren and (max-width: $resolucion-smaller) {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        padding: 1rem;
        margin: 1rem;
    }

    .logo{
        display: flex;
        justify-content: center;
        max-width: 1rem;
        width: auto;
        img{
            display: flex;
            justify-content: center;
        }
        h1 {
            display: flex;
            text-align: center;
            justify-content: center;
        }
        @media scren and (max-width: $resolucion-smaller){
            display: flex;
            flex-direction: column;
            text-align: flex-end;;
            width: 30%;
            text-decoration-color: brown;;
        }
    }
    .container__box {
        .fade-in-image {
            img{
            text-align: center;
            width: auto;
            animation: fadeIn 5s;
            -webkit-animation: fadeIn 5s;
            -moz-animation: fadeIn 5s;
            -o-animation: fadeIn 5s;
            -ms-animation: fadeIn 5s;
            }
        }
    }
}