/* Gira Argentina */
.inincio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    div {
        h1 {
            display: flex;
            text-align: center;
            justify-content: center;
        }
    }
    .container__box {
        .fade-in-image {
            img{
            text-align: center;
            animation: fadeIn 5s;
            -webkit-animation: fadeIn 5s;
            -moz-animation: fadeIn 5s;
            -o-animation: fadeIn 5s;
            -ms-animation: fadeIn 5s;
            }
        }
    }
}