/* Noticias*/
.container-not {
    display: flex;
    flex-direction: column;
    margin: 2%;
}
.title-not {
    justify-content:flex-start;
    h1 {
        text-align: center;
        justify-content: center;
    }
}

.main-not{
    border: 1px;
}

.titulo__noticia{
    font-size: xx-large;
    color:nth($colores , 9 );
}

.card__noticia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 3px solid black;
    background-image: url(/assets/img/LILA.png);

    h4{
        text-decoration-color: aliceblue;    
    }

    img{
        margin: 3%;
    }

    &:hover{
        transform: scale(1.1);
    }
}
.card__noticia2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 3px solid black;
    background-image: url(/assets/img/GREEN.png);
    opacity: 85%;

    img{
        margin: 3%;
    }

    &:hover{
        transform: scale(1.1);
    }
}
.card__noticia3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 3px solid black;
    background-image: url(/assets/img/TURC.png);
    opacity: 85%;

    h4{
        text-decoration-color:nth($colores, 3 );    
    }

    img{
        margin: 3%;
    }

    &:hover{
        transform: scale(1.1);
    }
}
.card__noticia4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 3px solid black;
    background-image: url(/assets/img/telon.png);
    opacity: 85%;

    h4{
        text-decoration-color:nth($colores, 3 );    
    }

    img{
        margin: 3%;
    }

    &:hover{
        transform: scale(1.1);
    }
}