//* Estilos para la playlist*//
main{
    .title-play{
        display: flex;
        flex-direction: column;
        background-image: url(/assets/img/ci-yellow.jpg);
        background-repeat:repeat-x;
        h1{
            text-align: center;
        }
    }
}