//* Estilos para la playlist*//
main {
    .logo-pley {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        img {
            align-items: center;
        }
    }
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}
h3{
    text-align: center;
}