.padre3 {
    display: grid;
    grid-template-rows: 0, 1fr 1fr 1fr 0.1fr;
    grid-template-columns: repeat(2, 1fr, 1fr, 1fr);
    grid-template-areas:
        "header header header header"
        "main main inicio inicio"
        "footer footer footer footer";

    header {
        grid-area: header;
        display: flex;
        align-items: center;
        justify-content: center;

        nav {
            ul {
                display: flex;
                list-style: none;

                li {
                    margin: 0.5rem;
                    font-weight: bold;
                    font-size: 1.2rem;

                    a {
                        color: ($colores 4);
                    }
                }
            }
        }
    }

    //*estilo main*//
    main {
        grid-area: main;
        display: grid;
        grid-template-areas:
            "inicio inicio h1 h1"
            "h2 h2 h2 h2"
            "h3 h3 h3 h3";
        justify-content: end;
        justify-items: center;
        align-items: center;

        .inicio {
            grid-area: inicio;
            display: block;
            align-self: end;
            font: 3rem;
            text-align: center;

            h1 {
                grid-area: h1;
                text-align: center;
            }
        }

        .container__box {
            section {
                h2 {
                    grid-area: h2;
                    align-self: end;
                    font-size: 3rem;
                    text-align: center;

                    article {
                        grid-area: article;

                        h3 {
                            grid-area: h3;
                            text-align: center;
                            background-color: nth($colores , 5);
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
    }

    footer {
        grid-area: footer;
        align-items: end;
        justify-content: center;

        h4 {
            grid-area: h4;
            align-self: end;
            font-size: 3rem;
            text-align: center;
            opacity: 0.8;
            background-color: rgb(255, 136, 0)
        }
    }
}