//*estilo main*//

    .inicio {
        display: block;
        align-self: end;
        font: 3rem;
        text-align: center;

        h1 {
            text-align: center;
        }
    }

    .container__box {
        section {
            h2 {
                align-self: end;
                font-size: 3rem;
                text-align: center;
                margin: 2rem;
            }
            h3 {
                display: block;
                text-align: center;
                margin: 2rem;
                    }
            }
        }